.navi-menu{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.navi-menu li a{
    display: inline-block;
    font-size: 18px;
    margin-left:  20px;
    padding-top: 20px;
}
.logo{
    font-size: 28px;
}
.na-icon{
    display: none;
}
.time-icon,.bar-icon{
    position: absolute;
    top: 20px;
    right: 0px;
    font-size: 24px;
}

@media(max-width:992px){
    .na-icon{
        display: block;
    }
    .navi-menu{
        flex-direction: column;
        position: absolute;
        top: 20vh;
        height: 80vh;
        left: -100%;
        width: 100%;
        overflow: auto;
        text-align: center;
        border-radius: 20px;
        z-index:1;
        transition: 1s;
    }
    .navi-menu.active{
        left: 0;
        background-color: #444;
    }
    .navi-menu li a{
        margin-top: 12px;
        color: #fff;
    }
}
.fa-cart{
    display: inline-block;
    font-size: 24px;
    color: #fff;
}
.section{
    background-color:blue;
}
#section{
    padding-top: 100px;
}
.navbar h1 a{
    color:#fff;
    transition: 0.2s;
}
.navbar h1 a:hover{
    color:#ffff00;
}
.nav-link{
    color: #fff;
}

.nav-link:hover,.fa-cart:hover{
    color: #ffff00;
    transition: 1s;
}
#section{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}